.cartas {

    width: 100vw;
    display: flex;
    position: fixed;
    bottom: -400px;
    justify-content: center;
    animation: aparecer 4s cubic-bezier(1, 0.04, 0.27, 1) forwards 1s;

    .carta {
        width: 150px;
        height: 220px;
        background: radial-gradient(#ffecb3 12%, #cfc09f 40%, #3a2c0f 90%);
        color: #121c22;
        font-size: 24px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        position: relative;
        transition: transform 0.6s, top 0.6s, left 0.6s, opacity 1s;
        top: 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        margin-left: -150px;
        transform-origin: bottom center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation: girar-carta 3s ease-in-out backwards 2s;

        &.selected {
            transform: rotateY(0deg) scale(2) !important;
            top: -500px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #124a6e;
            background-image: url('images/melhoresdoanologo.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 12px;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }
    }
}

@keyframes aparecer {
    0% {
        bottom: -400px;
        gap: 0px
    }

    20% {
        gap: 0px;
    }

    25% {
        bottom: 400px;
        gap: 0px;
    }

    45% {
        bottom: 400px;
        gap: 100px;
    }

    65% {
        bottom: 400px;
        gap: 75px;
    }

    85% {
        bottom: -400px;
        gap: 75px;
    }

    100% {
        bottom: -70px;
        gap: 75px;
    }
}

@keyframes girar-carta {
    0% {
        transform: rotateY(0deg);
    }

    70% {
        transform: rotateY(180deg);
    }
}